
{{>header}} 

   <div class="about">

      <div class="wrapper target">
         <div class="text">
            <h1>Who Are We</h1>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sequi non, deserunt saepe atque laboriosam repellendus autem harum odit voluptatibus vel voluptas nesciunt laborum quam ad perferendis reprehenderit ullam commodi!
            </p>
         </div>
         <div class="photo">
            <img src="/img/team/team-1.jpg" alt="">
         </div>
      </div>


      <div class="wrapper target">
         <div class="text">
            <h1>Our Team</h1>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sequi non, deserunt saepe atque laboriosam repellendus autem harum odit voluptatibus vel voluptas nesciunt laborum quam ad perferendis reprehenderit ullam commodi!
            </p>
         </div>
         <div class="photo">
            <img src="img/team/team-2.jpg" alt="">
         </div>
      </div>


      <div class="wrapper target">
         <div class="text">
            <h1>My Family</h1>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sequi non, deserunt saepe atque laboriosam repellendus autem harum odit voluptatibus vel voluptas nesciunt laborum quam ad perferendis reprehenderit ullam commodi!
            </p>
         </div>
         <div class="photo">
            <img src="/img/team/team-3.jpg" alt="">
         </div>
      </div>


   </div>





