{{>header}}

<div class="home">
   <div class="wrapper">
      <div class="posts">

         <div class="post target">
            <h1>Title</h1>
            <img src="/img/background/content-1.jpg" alt="content">
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio saepe quis, illo obcaecati suscipit quod
               nulla maiores, dolore, debitis esse deleniti quisquam nisi dolorem ullam! Recusandae enim officiis
               nulla fuga!
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque alias harum aspernatur veniam
               libero possimus a aut ea necessitatibus ipsum, blanditiis illo tempora nulla perferendis, magni enim
               consequatur ut earum?
            </p>
            <div class="authorAndDate">
               <span>Goknur GURZ</span>
               <span>23.04.2025</span>
            </div>
         </div>


         <div class="post target">
            <h1>Title</h1>
            <img src="/img/background/content-1.jpg" alt="content">
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio saepe quis, illo obcaecati suscipit quod
               nulla maiores, dolore, debitis esse deleniti quisquam nisi dolorem ullam! Recusandae enim officiis
               nulla fuga!
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque alias harum aspernatur veniam
               libero possimus a aut ea necessitatibus ipsum, blanditiis illo tempora nulla perferendis, magni enim
               consequatur ut earum?
            </p>
            <div class="authorAndDate">
               <span>Goknur GURZ</span>
               <span>23.04.2025</span>
            </div>
         </div>


         <div class="post target">
            <h1>Title</h1>
            <img src="/img/background/content-1.jpg" alt="content">
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio saepe quis, illo obcaecati suscipit quod
               nulla maiores, dolore, debitis esse deleniti quisquam nisi dolorem ullam! Recusandae enim officiis
               nulla fuga!
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque alias harum aspernatur veniam
               libero possimus a aut ea necessitatibus ipsum, blanditiis illo tempora nulla perferendis, magni enim
               consequatur ut earum?
            </p>
            <div class="authorAndDate">
               <span>Goknur GURZ</span>
               <span>23.04.2025</span>
            </div>
         </div>

         <div class="post target">
            <h1>Title</h1>
            <img src="/img/background/content-1.jpg" alt="content">
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio saepe quis, illo obcaecati suscipit quod
               nulla maiores, dolore, debitis esse deleniti quisquam nisi dolorem ullam! Recusandae enim officiis
               nulla fuga!
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque alias harum aspernatur veniam
               libero possimus a aut ea necessitatibus ipsum, blanditiis illo tempora nulla perferendis, magni enim
               consequatur ut earum?
            </p>
            <div class="authorAndDate">
               <span>Goknur GURZ</span>
               <span>23.04.2025</span>
            </div>
         </div>


      </div>

      <div class="sidebar">
         <div class="area target">
            <h3>Who I Am</h3>
            <img src="/img/user/user-2.png" alt="user">
            <div class="categories">
               <span>#art</span>
               <span>#design</span>
               <span>#paint</span>
               <span>#culture</span>
            </div>
         </div>

         <div class="area target">
            <h3>Your Space</h3>
            <a href="/admin/add">Add Post</a>
            <a href="#">Your Perfonce</a>
            <a href="#">Number of Views</a>
         </div>
      </div>
   </div>
</div>