


<div class="logReg">
    <img src="/img/background/register.jpg" alt="register">
    <form>
        <div class="formGroup">
            <input type="text" required>
            <span>Email *</span>
        </div>

        <div class="formGroup">
            <input type="text" required>
            <span>Username *</span>
        </div>

        <div class="formGroup">
            <input type="text" required>
            <span>Password *</span>
        </div>

        <div class="btnGroup">
            <a href="login">Do you have an account?</a>
            <button>Register</button>
        </div>
    </form>
</div>



